body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}


@keyframes card-background {
    from {
        background: rgb(150,170,215); 
    }
    to {
        background: rgb(170,200,245);
    }
}

.card {
    display: flex;
    border: 2px solid skyblue;
    border-radius: 5px;
    justify-content: space-around;
    text-align: center;
    background: rgb(170,200,245);
    box-shadow: 5px 5px lightgray;
    margin: 0 auto;
    padding: 10px;
}

.card:hover {
    animation:card-background 5s alternate-reverse infinite;
}

.info {
    display: block;
}

.img {
    width: 200px;
    border-radius: 10px;
}